<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/test_programming_review
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            jesse
        </property>
        <property name="connection.password">
            entreprise_java
        </property>
        <mapping resource="User.hbm.xml" />
        <mapping class="com.jessemcgilallen.lc.entity.User" />

        <mapping resource="Language.hbm.xml" />
        <mapping class="com.jessemcgilallen.lc.entity.Language" />

        <mapping resource="Type.hbm.xml" />
        <mapping class="com.jessemcgilallen.lc.entity.Type" />
    </session-factory>

</hibernate-configuration>

